.navbar {
    height: 100px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        span{
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media(max-width:576px){
    
}


@media (max-width: 738px){
    span{
        display:none;
    }
    .wrapper{
        padding-left: 200px;
    }
}