.navbar {
    height: 100px;
    max-width: 100%;
    width: 100%;
    
    
    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        span{
            font-weight: bold;
        }

        h1{
            color: #ffff;
        }

        h1:hover{
            color: orange;
        }

        b{
            color: #c009d9;
            font-size: 30px;
        }

        .links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            a{
                font-size: 20px;
                color: #ffff;
            }
            a:hover{
                color: #c009d9;
            }
        }
        .social {
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media(max-width: 576px){
    .navbar{
        .wrapper{
            h1{
                display: none;
            }
            .links{
                gap: 20px;
                a{
                    font-size: 18px;
                }
            }
        }
    }
}

@media(max-width: 480px){
    .navbar{
        padding: 10px 15px;
        .wrapper{
            width: 100%;
            max-width: 100%;

            .links{
                gap: 10px;
            }
        }
    }
}

@media(max-width: 380px){
    .navbar{
        overflow: hidden;
        /* height: 85px; */
        padding: 10px;
        .wrapper{
            width: 100%;
            max-width: 100%;

            .links{
                gap: 5px;
                a{
                    font-size: 14.5px;
                }
            }
        }
    }
}