.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;

    .textContainer{
        flex:1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-size: 20px;
            font-weight: 200;
            color: gray;
            text-align: right;
        }

        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
            
        }
    }

    .titleContainer{
        flex:2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            gap: 50px;
            align-items: center;
            white-space: nowrap;

            img{
                width:300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }
            h1 {
                font-size: 75px;
                font-weight: 100
            }

            button {
                width: 300px;
                height: 100px;
                border-radius:50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;
            }

        }
    }
    
    .listContainer{
        flex:2;
        display: flex;
        max-width :1366px;
        margin: auto;
        
        .box {
            padding: 30px;
            border: none;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 85%;

            p{
                font-size: 20px;
            }

            button{
                padding: 10px;
                background-color: orange;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}

@media(max-width: 1200px){
    .services{
        .textContainer{
            gap: 15px;
            p{
                font-size: 18px;
                font-weight: 500;
            }
            hr{
                width: 400px;
            }
        }
        .titleContainer{
            .title{
                gap: 15px;
                h1{
                    font-size: 50px;
                }
            }
        }
    }
}

@media(max-width: 921px){
    .services{
        .textContainer{
            p{
                font-size: 18px;
                font-weight: 500;
            }
            hr{
                width: 300px;
            }
        }
        .titleContainer{
            .title{
                h1{
                    font-size: 40px;
                }
            }
        }
        .listContainer{
            .box{
                height: unset;
            }
        }
    }
}

@media (max-width:768px){
    .services{
        padding: 0 20px;
        .textContainer{
            display: none;
        }
        .titleContainer{
            width: 100%;
            padding-top: 10px;
            margin-bottom: 35px;

            .title{
                flex-direction: column;
                text-align: center;
                width: 100%;

                img{
                    width: 80%;
                    height: 150px;
                }

                h1{
                    font-size: 36px;
                }
                button{
                    font-size: 16px;
                    width: 150px;
                    height: 50px;
                }
            }
        }
        .listContainer{
            flex-direction:column;
            width: 100%;
            margin : 10px 0;

            .box{
                border:none;
                align-items: center;
                gap:20px;
                padding: 10px;

                p{
                    font-size: 18px;
                    overflow-wrap: break-word;
                }

                button{
                    background-color: transparent;
                    border: 1px solid orange;
                    border-radius: 5px;
                    color: orange;
                    width: 50%;
                    padding:5px;
                }
            }
        }
    }
}

@media(max-width: 576px){
    .services{
        .titleContainer{
            margin-bottom: 20px;

                .title{
                    gap: 10px;
                    h1{
                        font-size: 30px;
                    }
                    img{
                        height: 150px;
                    }
    
                }
        }
        .listContainer{
            .box{
                gap: 10px;
                padding: 5px ;
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

@media(max-width: 380px){
    .services{
        .titleContainer{
            margin-bottom: 0;

                .title{
                    h1{
                        font-size: 24px;
                    }
                }
        }
        .listContainer{
            .box{
                gap: 10px;
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

@media(max-width: 280px){
    .services{
        overflow: hidden;
        .titleContainer{
                .title{

                    h1{
                        font-size: 24px;
                        white-space: wrap;
                    }
                }
        }
        .listContainer{
            .box{
                gap: 10px;
                p{
                    font-size: 14.5px;
                }
            }
        }
    }
}
