.parallax {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    h1{
        font-size: 100px;
    }

    .mountains{
        background-image: url('./mountains.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }

    .planets{
        background-image: url('./planets.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;

    }

    .stars{
        background-image: url('./stars.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

    }

    .sun{
        background-image: url('./sun.png');
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

    }    
}

@media (max-width:738px){
    .parallax{
        h1{
            font-size: 72px;
            text-align: center;
        }
        .mountains{
            background-size: contain;
            background-repeat: no-repeat;
        }

        .planets{
            background-size: contain;
            background-repeat: no-repeat;
        }

        .sun{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}