.hero {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d,#111132);
    overflow: hidden;
    position: relative;
    max-width: 100%;
    width: 100%;
    
    .wrapper{
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin-left: 15%;

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-direction: column;

            .buttons {
                display: flex;
                gap: 20px;
                button{
                    cursor: pointer;
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color:white;
                    font-weight: 300;
                }
            }

            h2{
                font-size: 25px;
                color: rebeccapurple;
                letter-spacing: 10px;
                line-height: 5px;
            }
    
            h1 {
                font-size: 65px;
            }
        }

        img {
            width: 50px;
            cursor: pointer;
        }
    }

    .imageContainer{
        position:absolute;
        top: 0;
        right: 0;
        width:50%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            max-width: 100%; 
            max-height: 100%;
            object-position: top;
        }
    }

    .slidingTextContainer{
        position:absolute;
        font-size: 50vh;
        bottom: -50px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        pointer-events: none;
    }
}

@media(max-width: 1024px){
    .hero{
        .wrapper{
            margin-left: 10%;
            .textContainer{
                gap: 20px;
                h1{
                    font-size: 60px;
                }
            }
        }
    }
}

@media(max-width: 768px){
    .hero{
        .wrapper{
            margin-left: 0;
            .textContainer{
                width: 100%;
                height: 60%;
                gap: 12px;
                align-items: center;
                text-align: center;

                h2{
                    letter-spacing: 8px;
                }

                h1 {
                    font-size: 40px;
                }
                .scrollImage{
                    position: absolute;
                    top: 20px;
                }
                .buttons{
                    button{
                        padding: 14px;
                    }
                }
            }
        }

        .imageContainer{
            height: 58%;
            width: 100%;
            top: unset;
            bottom:0;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: top;
            }
        }
    }
}

@media (max-width: 576px){
    .hero{
        .wrapper{
            .textContainer{
                h1{
                    font-size: 30px;
                }
                .buttons{
                    button{
                        padding: 8px;
                    }
                }
                h2{
                    font-size: 24px;
                    letter-spacing: 5px;
                }
            }
           
        }
    }
}

@media(max-width: 380px){
    .hero{
        padding: 0 10px;
        .wrapper{
            .textContainer{
                h1{
                    font-size: 25px;
                }
                h2{
                    font-size: 20px;
                }
            }
        }
        .imageContainer{
            background-color: pink;
            height: 58%;
            width: 100%;
            top: unset;
            bottom:0;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
                object-position: top;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}


