/* Toggle.module.css */
.button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 25px;
  left: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  /* transition: transform 0.3s, opacity 0.3; */
}

/* .slantLine1{
  width: 60%;
  height: 5px;
  background-color: #3498db; 
  transform: skewY(-45deg); 
  position: relative;
}

.slantLine2{
  width: 60%;
  height: 5px;
  background-color: #3498db; 
  transform: skewY(45deg); 
  margin-top: 20px;
  position: absolute;
  top:25px;
} */